app/code/community/Cartsguru/CartRecovery/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  name="{{var wsdl.name}}"
                  targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:element name="cartsguruAdminRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="cartsguru_admin_action" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="cartsguru_admin_data" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cartsguruAdminResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="cartsguruAdmin">
            <wsdl:documentation>Cartsguru admin actions</wsdl:documentation>
            <wsdl:input message="typens:cartsguruAdminRequest" />
            <wsdl:output message="typens:cartsguruAdminResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="cartsguruAdmin">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="cartsguruAdminRequest">
        <wsdl:part name="parameters" element="typens:cartsguruAdminRequestParam" />
    </wsdl:message>
    <wsdl:message name="cartsguruAdminResponse">
        <wsdl:part name="parameters" element="typens:cartsguruAdminResponseParam" />
    </wsdl:message>
</wsdl:definitions>